<div class="text-center header">
  <h1>{{headerTitle}}</h1>
  <p>Sub-title</p>
</div>

<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="alco-drinks">Alcohol drinks</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="none-alco-drinks">None-alcohol drinks</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="about">About</a>
    </li>
  </ul>
</nav>