.content {
  height: calc(100vh - 226px);
}

.response {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  width: 100%;
  overflow-y: scroll;
  background-image: url(https://www.wallpaperflare.com/static/318/502/551/alcohol-vodka-bottles-assorted-wallpaper.jpg);
}

.cocktail {
  width: 80%;
  margin: 10px 0;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  background-image: url(alcohol-vodka-bottles-assorted-wallpaper.jpg);
  background-position-x: -450px;
  color: wheat;
  filter: contrast(1.1)
}

.card-img-top {
  width: 400px;
  height: 400px;
  margin: 15px;
}

.close{
  height: 40px;
  color: wheat;
}

@media screen and (max-width:1920px) {
  .cocktail {
    width: 60%;
    min-height: 500px;
  }
}

@media screen and (max-width:768px) {
  .cocktail {
    width: 95%;
  }
}

@media screen and (max-width:411px) {
  .cocktail {
    flex-direction: column;
    min-height: 500px;
    display: flex;
    align-items: center;

    .card-img-top {
      width: 300px;
      height: 300px;
    }
  }
}

@media screen and (max-width:625px) {
  .cocktail {
    flex-direction: column;
    min-height: 500px;
    display: flex;
    align-items: center;
  }
}
