.content {
  height: calc(100vh - 226px);
}

.response {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  overflow-y: scroll;
  background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1080/1807/Summer-smoothies-fruit-drinks-glass-cups_1920x1080.jpg);
}

.row-cocktail {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cocktail {
  margin: 10px 0;
  max-height: 450px;
  width: 15rem;
}

button {
  width: 200px;
  height: 40px;
  margin: 10px;
}


.search {
  display: flex;
  justify-content: flex-end;
  background-color: #343a40;

  .area-search {
    margin-bottom: 3px;
  }
}

@media screen and (max-width:1920px) {
  .cocktail {
    margin-left: 5px;
  }
}

@media screen and (max-width:768px) {
  .area-search {
    width: 100%;
  }

  .search {
    background-color: #343a40;
  }
}

@media screen and (max-width:411px) {
  .card-text {
    display: none;
  }

  .btn {
    width: 100%;
  }

  .cocktail {
    width: 45%;
  }
}
